html {
padding-top: 25px;
background-image: url(images/floor-tile.png);
}

body 
   {
     width:80%;
     padding: 20px;
     margin: 0 auto;
     border-radius:10px;
     box-shadow: 10px 10px 10px rgba(0,0,0,.5);
     background-color: #fffbd1;
     opacity: 0.8;
     background-image:  linear-gradient(#b79362 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(to right, #b79362 0.6000000000000001px, #fffbd1 0.6000000000000001px);
     background-size: 12px 12px;
   }
